<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coffee_farm.www.coffeefarm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyShoppingActivity"
            android:label="@string/title_activity_my_page_detail" />
        <activity
            android:name=".CategoryRelationActivity"
            android:label="@string/title_activity_category_detail" />
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question" />
        <activity
            android:name=".QNAActivity"
            android:label="@string/title_activity_qna" />
        <activity
            android:name=".MySpaceActivity"
            android:label="@string/title_activity_my_space" />
        <activity
            android:name=".MyInfoActivity"
            android:label="@string/title_activity_my_info" />
        <activity
            android:name=".ShoppingBasketActivity"
            android:label="@string/title_activity_shopping_basket" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".SettingActivity"></activity>
    </application>

</manifest>